datasets/coco8-pose/
datasets/knife-dataset/
src/.venv/
src/__pycache__/
src/logs/
src/suspect/
datasets/video-dataset/
datasets/coco-pose
OIDv4_ToolKit/
src/evaluation/__pycache__
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person14.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person16.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person41.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person5.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person7.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person5.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person5.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person6.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person7.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person8.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person22.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person30.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person35.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person37.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person43.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_222_cam4_person52.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person12.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person19.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person30.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person34.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person39.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person41.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person43.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person47.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person50.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_223_cam4_person51.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person16.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person24.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person27.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person33.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person56.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person58.npz
datasets/lstm_dataset/violent_videoÐàðáð£Ðêð¦ð£ÐêðÉðæÐåð¡ÔöÉÐàðƒð+Ðåð¡ðÁÐàÔòòð¥ÐåÔöñÔòøÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐäÔòòðøÐäÔòòðÉÐçðÀðóÐåð¼ðÖÐäÔòæÔòæÐêðÀðæÐåð¢ÔòùÐçðÁð«ÐäÔòæðûÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐåðôð©ÐçðôðÿÐçðñÔòùÐëð¡ð¦ÐÅÔòØðæ_urlgot_224_cam4_person61.npz
datasets/lstm_dataset/violent_videoÐçÔò£ðíÐàðáðÀÐëðæð¢ÐàÔûæðƒÐåÔòûÔòûÐåÔòûÔòûÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐàðòð©Ðçð©ðøÐåðøðØÐåðíðö_urlgot_317_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐçÔò£ðíÐàðáðÀÐëðæð¢ÐàÔûæðƒÐåÔòûÔòûÐåÔòûÔòûÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐàðòð©Ðçð©ðøÐåðøðØÐåðíðö_urlgot_317_cam4_person12.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_279_cam4_person42.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_279_cam4_person28.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_279_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_268_cam4_person42.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_268_cam4_person28.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_268_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_267_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐëð¦ðáÐàð×ðòÐäÔòòðÉÐçÔòøð¦ÐàÔûæðƒÐäÔòØð®ÐåðÖðúÐåð«ÔòóÐåðªðºÐåð¥Ôöñ ÐêðÉðæÐåð¡ÔöÉÐçð«ð+ÐëðºÔöñÐàðƒðíÐëð¦ð®ÐäÔòæðû_urlgot_267_cam4_person10.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀ-ÐêðøÔûÆÐàð½Ôò£Ðêð¢ðÂÐàð+ð»Ðåð¬ÔöñÐàðÜð½Ðåð¥ÔöñÐåðÖðúÐàðÁÔöéÐàð+ð£ÐçðÜð+_urlgot_210_cam4_person6.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀ-ÐêðøÔûÆÐàð½Ôò£Ðêð¢ðÂÐàð+ð»Ðåð¬ÔöñÐàðÜð½Ðåð¥ÔöñÐåðÖðúÐàðÁÔöéÐàð+ð£ÐçðÜð+_urlgot_210_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐçð½ðíÐåð×ðÀ-ÐêðøÔûÆÐàð½Ôò£Ðêð¢ðÂÐàð+ð»Ðåð¬ÔöñÐàðÜð½Ðåð¥ÔöñÐåðÖðúÐàðÁÔöéÐàð+ð£ÐçðÜð+_urlgot_210_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_221_cam4_person7.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_221_cam4_person5.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_221_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_221_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_221_cam4_person15.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_220_cam4_person27.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_220_cam4_person21.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_220_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐäÔòòð¦ÐàðÁÔöéÐàð¢ðáÐàÔòæðºÐëðùð£ÐåðÖðúÐåð«ÔòóÐÅÔòØð£ÐàðØÔöñÐàÔòØðÑÐàðƒðíÐåðÑÔûæÐàðáðØÐçðñÔòûÐàð¢ðáÐàðùÔòæÐåðÖðøÐÅÔòØð£Ðåð¿ð+ÐäÔòùðÉÐäÔòúðÿÐàð×ð»Ðàð½ð¦ÐÅÔòØð»Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_220_cam4_person17.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_141_cam4_person33.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_141_cam4_person19.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_141_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_140_cam4_person30.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_140_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_139_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_139_cam4_person20.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_138_cam4_person13.npz
datasets/lstm_dataset/violent_videoÐàÔòúÔöÉÐäÔòòð¼Ðçð¼ðæÐåÔûÆðÑÐàð¦ÔöñÐàÔòòðÆÐåÔò£ð¥Ðëð¿ÔöéÐàð£ÔòæÐëðúð¼Ðçð½ðÆÐëðÑðùÐåÔûôÔöéÐëð®ðùÐåð¡ðíÐåð¬ÔöñÐàðÜð½ÐäÔòæðøÐäÔòùÔòóÐçð½ðíÐåð×ðÀÐêðÀðûÐëð¦ðí2_urlgot_138_cam4_person12.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person95.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person65.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person64.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person6.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person52.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person5.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person45.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person25.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person19.npz
datasets/lstm_dataset/violent_videoÐàðÂðÆÐåð«ð¼ÐäÔòòðØÐåð¿ð+Ðçð½ðíÐåð×ðÀ,ÐêÔûæðæÐäÔòØð¬Ðçð½ÔòòÐäÔöÉð¦ÐàÔûæðƒÐäÔòØð®ÐäÔòòÔòæÐäÔòæðûÐåðÖðúÐåð«ÔòóÐçð½ÔöñÐåð×ðÁÐäÔòùð×ÐäÔòæð£ÐåðÁÔòØÐêÔòûÔöéÐäÔòòðøÐàð×Ôòù_urlgot_254_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_242_cam4_person21.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_242_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_242_cam4_person17.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_242_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_238_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_238_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_237_cam4_person6.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_237_cam4_person12.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_235_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_233_cam4_person5.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_233_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_233_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàðáð×Ðàð×ð©Ðëðùð£Ðëð¡ð¦ÐäÔòòðÉÐêð©ðÉÐäÔòòðØÐàðáðÿÐàÔûæÔûÆÐàÔòØðÉÐåðÖðúÐÅÔòØð£ÐåðøðÖÐåð«ÔòóÐàðƒð¿ÐåðÖðúÐåð«ÔòóÐÅÔòØð£Ðçð×ÔûæÐàð¼ÔòæÐäÔòòðÉÐçðÖðùÐåÔòûÔòûÐäÔòúÔûÆÐÅÔòØð£Ðçð½ðíÐåð×ðÀÐåðøðØÐäÔòòðøÐàðòð©Ðçð©ðø_urlgot_233_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_127_cam4_person8.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_127_cam4_person40.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_127_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_127_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_127_cam4_person27.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_127_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person6.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person29.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person19.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person12.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_123_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_122_cam4_person4.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_122_cam4_person3.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_122_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_122_cam4_person1.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_121_cam4_person7.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_121_cam4_person56.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_121_cam4_person22.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_121_cam4_person2.npz
datasets/lstm_dataset/violent_videoÐàð¦ðÀÐëð®ðûÐçðáðûÐàðƒðíÐàÔòæðºÐàðƒðíÐçðñð»Ðçð¦ðØÐäÔòæÔòæÐäÔòæðøÐäÔòùÔòóÐÅÔòØð£ÐäÔòòðøÐåðÖðøÐçð¼ð»Ðçðøð¦ÐÅÔòØðæ_urlgot_121_cam4_person1.npz
